/* elements */
* {
    margin: 0;
}

h1 {
    color: white;
    background-color: cornflowerblue;
}

/* classes */

.sub-header {
    font-size: 30px;
}

/* ids */

#main-header {
    font-size: 80px;
}